section.homebase {
    //background: url("../imagenes/fondoparallx.jpeg"); /* Nuestra imagen de fondo */
    background: url("../imagenes/pngtree-g20-summit-simple-business-background-image_233791.jpg");
    background-repeat: no-repeat; /* Indicamos que no se repetira */
    background-size: cover; /* Encajamos la imagen al 100% del ancho */
    background-attachment: fixed; /* Establecemos una posicion fija para la imagen */
    width: 100%;
    height: 100%;
.articulo{
    color:black;
    background-color: #f8f9fa ;
    opacity: 0.8;

    .bt1{
        display: flex;
        align-items: center;
        justify-content: center;


    }
    .botoninfo{


        //background-color:white;
        opacity:2;
    }

.line{
    border-bottom:solid 3px orangered;
}}
    .downnav{

        display: flex;
        align-items: center;
        justify-content: center;

    }
#imghom{
    height:auto;
}

}
.page-footer{
    background-color:gray ;
    height: 100%;
    position: relative;
}
#boximg{
    flex:0 0 0;
}
